extends layout

block content
    .container
      h1 Find perfect school for you
      p Description:
        i  Showing schools on the map, each type of school has different color. Schools are sorted by the distance from selected spot and user can set maximum possible distance to school. The user can also filter schools by criminality, that was commited near school, or number of bar/pubs and casinos near school.
      p Created using UK Open Data.
      p
        a(href='https://github.com/dmacjam', target='blank') @dmacjam
