extends layout

block head
  script(src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js')
  link(rel='stylesheet', href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css')

block content
  container.fill
    #map

  script.
    L.mapbox.accessToken = 'pk.eyJ1IjoiZG1hY2phbSIsImEiOiJjaWcyMGltYngwMG50dnNraHB3OHZ3aXI0In0.lJDHDkmW2P73JH01uJvnKw';
    var map = L.mapbox.map('map', 'dmacjam.98eb866f').setView([51.508652, -0.151071], 6);
