body {
    height: 100%;
    width: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    width:70%;
    position:absolute;
    left:30%;
    min-height: 100%;
    max-height: 100%;
    top:0;
    bottom:0;
}

#sidebar {
    width: 30%;
    min-height: 100%;
    max-height: 100%;
    padding:0px;
}

#detail{
    height: 50%;
}

#results {
    height: 50%;
    background-color: chartreuse;
}

.scrollable {
    overflow-y: auto;
    overflow-x: auto;
}

#toolbar{
    position: absolute;
    top: 20px;
    right: 150px;
    z-index: 999;
}

#settingsWindow{
    background-color: white;
    position: absolute;
    width: 350px;
    height: 200px;
    top: 60px;
    right: 150px;
    z-index: 999;
}
